
    <div class="container-fluid">
        <div class="container">
            <div class="card-group">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="icon">
                        <a href="#"><img src="../../../assets/img/facebook.png" alt=""></a>
                        <a href="#"><img src="../../../assets/img/gorjeo.png" alt=""></a>
                        <a href="#"><img src="../../../assets/img/plus.png" alt=""></a>
                        <a href="#"><img src="../../../assets/img/camara.png" alt=""></a>
                        <a href="#"><img src="../../../assets/img/pinterest.png" alt=""></a>
                        <a href="#"><img src="../../../assets/img/behance.png" alt=""></a>
                      </div>
                  </div>
                 
                </div>
                <div class="card">
                  <div class="card-body">
                      <h2 class="card-title">Latest Twits</h2>
                 <ul>
                     <li><a href="#"><img src="../../../assets/img/gorjeo.png" alt=""></a>Lorem ipsum dolor sit.</li>
                     <li><a href="#"><img src="../../../assets/img/gorjeo.png" alt=""></a>Lorem ipsum dolor sit.</li>
                     <li><a href="#"><img src="../../../assets/img/gorjeo.png" alt=""></a>Lorem ipsum dolor sit.</li>
                     <li><a href="#"><img src="../../../assets/img/gorjeo.png" alt=""></a>Lorem ipsum dolor sit.</li>
                     <li><a href="#"><img src="../../../assets/img/gorjeo.png" alt=""></a>Lorem ipsum dolor sit.</li>
                 </ul>
                  </div>
                </div>
                <div class="card">
                    <h2 class="card-title uno">How to learn?</h2>
                  <div class="row  ">
                    <div class="row  size row-cols-md-3">
                        <div class="col mb-2">
                          <div class="card">
                            <img src="../../../assets/img/images.png" class="card-img-top" alt="...">
                          </div>
                        </div>
                        <div class="col mb-2">
                          <div class="card">
                            <img src="../../../assets/img/images.png" class="card-img-top" alt="...">
                          </div>
                        </div>
                        <div class="col mb-2">
                          <div class="card">
                            <img src="../../../assets/img/images.png" class="card-img-top" alt="...">
                          </div>
                        </div>
                    </div>
         
                  </div>
                  <div class="row ">
                    <div class="row size row-cols-1 row-cols-md-3">
                        <div class="col mb-2">
                          <div class="card">
                            <img src="../../../assets/img/images.png" class="card-img-top" alt="...">
                          </div>
                        </div>
                        <div class="col mb-2">
                          <div class="card">
                            <img src="../../../assets/img/images.png" class="card-img-top" alt="...">
                          </div>
                        </div>
                        <div class="col mb-2">
                          <div class="card">
                            <img src="../../../assets/img/images.png" class="card-img-top" alt="...">
                          </div>
                        </div>
                    </div>
           
                </div>
                  </div>
                </div>
              </div>        
        </div>
  

       