
<div class="container-fluid spacing">
    <div class="pos-f-t">
        <nav class="navbar navbar-dark bg">
            <p>hola</p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg2 p-4">
              <h5 class="text-white h4">Collapsed content</h5>
              <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-sm-8 ">
            <div class="card bg2 text-center">
                <div class="card-body h4">
                    <p class="card-text">Lorem ipsum dolor </p>
                    <p class="card-title h1">Lorem ipsum dolor sit amet consectetur.</p>
                     <p class="card-subtitle h2">Your publish on web</p>   
                </div>
            </div>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12">
            <div class="card bg2">
                <div class="card-body">
                  <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                    </svg>
                </div>
            </div>
          </div>
      </div>
</div>
