/*Backgound Colors*/
$coffe: #006c85;
$maroon:#198c8c;
$gray: rgb(170, 170, 170);
$darkgray:rgb(75, 75, 75);
$black: black;
$bg-dark: #647d96;

/*text colors*/
$whiteText: #e6e6e6;
$greenText: rgb(118, 235, 151);
$grayText: rgb(187, 187, 187);