/*Backgound Colors*/
$coffe: #006c85;
$maroon:#308cc5;
$gray: rgb(170, 170, 170);
$darkgray:rgb(75, 75, 75);
$black: black;
$bg-dark: #234990;

/*text colors*/
$whiteText: #e6e6e6;
$greenText: #4fc8eb;
$grayText: rgb(187, 187, 187);