@import 'colors';
/*Boxs 2*/
.boxs2{
    height: 143px;
    width: 100%;
    background: $black;
    margin: auto;
}
.spacing{
    margin-left: -20px;
    margin-bottom: 12px;
    border: 5px $whiteText solid;
    .margin2{
        margin-top: 110px;
        
    }
    .bg-black{
        background: $black;
        padding: 0px 0px;
    }
}

/*Credits*/
.borderBox{
    border: none !important;
}