<div class="container">
    
<div class="row">
    <div class="col-sm-4 col-md-4 ">
        <div class="card">
            <img class="card-img small bottom2" src="../../../../assets/img/dos.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <div class="card">
            <img class="card-img big bottom" src="../../../../assets/img/dos.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <div class="card">
            <img class="card-img small bottom2" src="../../../../assets/img/dos.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <div class="card">
            <img class="card-img small top bottom2" src="../../../../assets/img/dos.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <div class="card">
            <img class="card-img small bottom2" src="../../../../assets/img/dos.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <div class="card">
            <img class="card-img big top bottom" src="../../../../assets/img/dos.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <div class="card">
            <img class="card-img big top bottom2" src="../../../../assets/img/dos.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <div class="card">
            <img class="card-img small bottom2" src="../../../../assets/img/dos.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <div class="card">
            <img class="card-img small bottom2" src="../../../../assets/img/dos.jpg" alt="Card image">
        </div>
    </div>
    
</div>
</div>
